/* Setup */
@import './setup/vars.css';
@import './setup/font-face.css';

/* Basic */
@import './basic/base.css';
/* @import './basic/buttons.css'; */
/* @import './basic/icons.css'; */
@import './basic/helpers.css';
/* @import './basic/layout.css'; */

/* Cmps */
@import './cmps/header.css';
@import './cmps/main-content.css';
/* @import './cmps/modal.css';
@import './cmps/dropdown.css';
@import './cmps/footer.css'; */















/* .gallery-container img{
    height: ;
} */
.text-line-actions{
    display: flex;
    justify-content: center;
    gap: 38px;
}

.text-line-actions button{
    width: 52.5px;
    height: 52.5px;
    /* margin-inline-start: 38px; */
    outline: 1px solid black;
    /* background-color: red; */
    
    
}


.text-line-actions button img{
    width: 100%;
    height: 100%;
    color: white;
}

.canvas-container{
    width: 31.25em;
    height: 500px;
    grid-area:can ;
       
}
.meme-editor{
    display: none;
    padding-top: 20px ;
    justify-content: center;
    gap: 7%;
    grid-template-columns: 1fr 1.1fr;

}

.editor{
    width: 34.375em;
    height: 500px;
    background-color: brown;
    outline: 1px solid black;
    flex-direction: column;
}

.meme-text{
    border-radius: 2em;
    text-align: center;
    padding:20px 0px;
    margin:1.5rem 2.5rem ;
    min-width: 80%;
}

canvas {
    display: block;
    margin:  auto;
    outline: 1px solid black;
    background-color: white;
}

.text-options button img{
    width: 100%;
    height: 100%;
}

.text-options button{
    background-color: white;
    width: 52.5px;
    height: 52.5px;
}

.text-options{
    margin-top:27px ;
    margin-bottom: 22px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr ;
    row-gap: 19px;
    column-gap: 38px;
    grid-template-areas: 
    "bigger smallert lefta centera righta"
    "font font font save colora";
}

.bigger-text-btn{
    grid-area: bigger;
}

.smaller-text-btn{
    grid-area: smallert;
}

.align-left-btn{
    grid-area: lefta;
}

.align-center-btn{
    grid-area: centera; 
}

.align-right-btn{
    grid-area: righta;
}

.font-select{
    grid-area: font;
}

.save-btn{
    grid-area: save;
}

.color-btn{
    grid-area: colora;
    width: 52.5px;
    height: 52.5px;
    padding: 3% 3%;
    border: 1px solid black;
    background-color: white;
}

.color-picker{
    display: none;
}

.color-img{
    width: 100%;
    height: 100%;
    
}

.more-actions{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 60px;
   padding: 0 65px;
}

.share-btn{
  flex-basis: 50%;
}

.download-btn{
    flex-basis: 50%;
}

/* .meme-text-value{
    position: fixed;
    background-color: transparent;
    border: 1px solid black;
    height: 50px;
    font-size: 40px;
    width: 476px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    top:0px;
    color: white;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    
}
.meme-text-value.line1{
    top: 8px; 
}
.line2{
    top: 300px;
} */




