.main-header{
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    border-radius: 0;
}

.logo{
    padding: 56.5px 7px;
    font-size: 44px;
    padding-left:  123px;
    color: var(--clr4)     ;
    text-transform: uppercase;
}

.main-nav button{
    border: none;
    background: none;
    color: var(--clr4);
    font-size: 21px;
    border-radius: 2em;
    padding:0.5em 1.3125em;
    transition: all 0.2s;
}

.menu-toggle-btn{
    border-radius: 50%;
    background-color: white;
    color: var(--clr3);
    border-width: 0;
    font-size: 26px;
    padding: 18px;
   margin-left: 10px;
}

.main-nav ul  {
    position: absolute;
    transform: translateY(100%);
    top: 26px;
    left: 0;
    width: 100%;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s, box-shadow 0.6s;
  }

  body.menu-open .main-nav ul {
    box-shadow: -6px 0px 14px rgb(255, 255, 255);
    max-height: 100vh;
  }

@media (min-width: 780px) {
    .logo{
        font-size: 22px;
        padding: 28px 123px;  
       
    }

    .main-header{
        border-radius: 2em;
        margin: 11px 11.5px 21px;
    }

    .main-nav button{
        margin-inline-start: 42px;
    }

    .main-nav button:hover{
        cursor: pointer;
        color: var(--clr3);
        background-color: var(--clr4);
    }
    
    .main-nav{
        justify-self:center ;
    }

    .menu-toggle-btn {
        display: none;
      }

      .main-nav ul  {
        position: static;
        max-height:100% ;
        background-image: none;
        display: flex;
        transform: translateY(0%);
      }
}

@media (min-width: 1060px) {
    .logo{
        font-size: 22px;
        padding-left: 123px;
    }

    .main-header{
        justify-content: space-between;
    }
    
    .main-nav{
        padding-inline-end: 15em;
    }
   
}